
<footer class="jumbotron" style="margin-bottom: 0px; margin-top: 50px; background-color: #343a40; color: white; ">
  <h3 style="text-align:center; padding-bottom: 10px; ">Contact Us</h3>
  
  <h6 style="text-align:center">phone: +44 (0) 7591517496</h6>
  <h6 style="text-align:center">email: william.sun.art@gmail.com</h6>
</footer>


