

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav" style="margin-right: 10%; ">
      <li class="nav-item active">
          <a class="navbar-brand" href="/" style="color: #ffffff;">
          <img src="/assets/logo.png" width="25" height="25" class="d-inline-block align-bottom" alt=" " loading="lazy" style="margin-left: 10%; ">
            William Sun
          </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right" style="margin-right: 4%; ">
      <li class="nav-item " >
          <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ArtWorks
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">佛教</a>
          <a class="dropdown-item" href="#">人物作品</a>
          <a class="dropdown-item" href="#">花鸟山水</a>
          <a class="dropdown-item" href="#">油画作品</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
