<div class="container">
  <div>
    <form class="form-inline" style= "padding-top: 30px; padding-bottom: 30px; margin-right: 10%;">
      <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-1" type="submit">Search</button>
    </form>
  </div>


  <div class="row">
    <div class="col-xs-3">
      <ul class="list-group">
         <li class="list-group-item" >
          佛教作品
          <ul class="list-group" style= "padding-top: 15px;">
            <li class="list-group-item">四大菩萨</li>
            <li class="list-group-item">观音像</li>
          </ul>
        </li>
        <li class="list-group-item">
          人物作品
          <ul class="list-group" style= "padding-top: 15px;">
            <li class="list-group-item">仕女图</li>
            <li class="list-group-item">现代人物</li>
            <li class="list-group-item">伟人</li>
            <li class="list-group-item">少数民族</li>
          </ul>
        </li>
        <li class="list-group-item">
          花鸟山水
          <ul class="list-group" style= "padding-top: 15px;">
            <li class="list-group-item">牡丹图</li>
            <li class="list-group-item">富贵鱼</li>
            <li class="list-group-item">山水图</li>
            <li class="list-group-item">城市图</li>
          </ul>
        </li>
        <li class="list-group-item">
          油画作品
          <ul class="list-group" style= "padding-top: 15px;">
            <li class="list-group-item">人物画</li>
            <li class="list-group-item">景观</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Media object</h5>
              Cras sit amet nibh libero, in gravida nulla. N
              ulla vel metus scelerisque ante sollicitudin. Cras pur
              us odio, vestibulum in vulputate at, tempus viverra turpis
              . Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
              congue felis in faucibus.
            </div>
            <a href="#">
                <img class="ml-3" src="/assets/ssl.jpeg" widyh ='200px' height= '300px;' style= "padding-bottom: 100px;" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="thumbnail">
            <h3>人物作品</h3>
            <img src="/assets/shinvtu3.jpeg" class="d-block w-100"  style= ' height: 400px;' alt="...">
            <div class="caption">
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="thumbnail">
            <h3>山水花鸟</h3>
            <img src="/assets/sidaguanyin1.jpeg" class="d-block w-100" style= ' height: 400px;' alt="...">
            <div class="caption">
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="thumbnail">
            <h3>油画作品</h3>
            <img src="/assets/youhua1.jpeg" class="d-block w-100" style= ' height: 400px;' alt="...">
            <div class="caption">
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="thumbnail">
            <h3>佛教作品</h3>
            <img src="/assets/fuguiyu1.jpeg" class="d-block w-100" style= ' height: 400px;' alt="...">
            <div class="caption">
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








